<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Player Tracker | Watch your favorite NBA player's stats</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/b9a82734f2/UntitledProject/style.css">
  </head>

  <body>
    <div id="navbar">
      <a href="/" id="title">playertracker.io</a>
      <a href="/" class="refresh-button "><span class="icon-spinner11"></span></a>
      <a href="mailto:help@playertracker.io">Contact</a>
    </div>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

  <div class="disclaimer">
    <hr>
    <footer>
      This site has no official affiliation with the National Basketball Association or any other 3rd-party entities listed on this site.
      <p> © 2018 Player Tracker</p>
    </footer>
  </div>
</html>
