body {
  font-family: 'Roboto', sans-serif !important;
  margin-top: 0px !important;
}

hr {
  margin: 0 0 10px 0 !important
}

h2 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

table {
  border-bottom: 1px solid #aaaaaa;
  @media only screen and (max-width: 767px) {
    width: 90% !important;
    margin: auto !important;
  }
}
table>tbody>tr>td {
  border-top: 1px solid #aaaaaa !important;
  vertical-align: middle !important;
  padding: 0px !important;
}

.row {
  padding: 0px !important;
}

.disclaimer {
  font-family: "Architects Daughter", sans-serif !important;
  font-size: 12px;
  color: #d1cccc;
  padding: 0 20px;
  position: fixed;
  background-color: #fff;
  bottom:0;
  width:100%;
}
