body {
  font-family: 'Roboto', sans-serif !important;
  margin-top: 0px !important;
}

.container {
  max-width: 2000px !important;
}

hr {
  margin: 0 0 10px 0 !important
}

h2 {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.row {
  padding: 0px !important;
}

table {
  border-bottom: 1px solid $primary-grey;

  tbody tr td {
    border-top: 1px solid $primary-grey !important;
    padding: 0px !important;
    vertical-align: middle !important;
  }

  @media only screen and (max-width: 767px) {
    margin: auto !important;
    width: 90% !important;
  }
}
