.disclaimer {
  background-color: #fff;
  bottom: 0;
  color: #d1cccc;
  font-family: "Architects Daughter", sans-serif !important;
  font-size: 12px;
  padding: 0 20px;
  position: fixed;
  width: 100%;
}
