.disclaimer {
  background-color: $primary-white;
  bottom: 0;
  color: $disclaimer-grey;
  font-family: "Architects Daughter", sans-serif !important;
  font-size: 12px;
  padding: 0 20px;
  position: fixed;
  width: 100%;
}
