h2 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.container {
  max-width: 1000px !important;
}

.main-stats {
  border-bottom: 1px solid #aaaaaa;
  padding: 5px;
  text-align: center;
}

.player-name {
  margin-top: 8px;
  text-align: center;
}

.player-pic {
  border-radius: 50%;
  background-image: url("/images/bensimmons.png");
  height: 125px;
  width: 125px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  margin: auto;
}

.player-stat {
  &__container {
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
  }

  &__border {
    border-left: 8px solid #006BB6;
  }
}

.row {
  padding: 0px !important;
}

.secondary-stats {
  text-align: center;
}

.game-stat {
  margin-bottom: 3px;
  text-align: center;
}
