.player-search {
  max-height: 500px;
  overflow: auto;
}

.player-search-bar {
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  margin-top: 80px;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
}
.player-search-bar:focus {
  outline: none !important;
}

@media only screen and (max-width: 767px) {
  .player-search-bar {
    margin: 65px auto auto auto !important;
    width: 90% !important;
  }
}

.add-button {
  background-color: #006BB6;
  border: none;
  border-radius: 3px;
  color: white;
  margin-right: 20px;
  padding: 7px;
  width: 75px;
}
.add-button:disabled {
  background-color: #528ab2;
  cursor: not-allowed;
}
.add-button:disabled:hover {
  background-color: #528ab2;
  cursor: not-allowed;
}

.add-button:hover {
  background-color: #004d84;
}

.search-border {
  border-right: 1px solid #aaaaaa;
}

.player-pos {
  font-size: 12px !important;
  font-weight: bold;
  margin-left: 10px;
}

.player-name {
  font-size: 15px;
}

.search-player-pic {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 75px;
  margin: auto;
  padding: 7px;
  position: relative;
  width: auto;
}
