.player-search {
  overflow: auto;
  max-height: 500px;
}

.add-button {
  background-color: #006BB6;
  border-radius: 3px;
  border: none;
  padding: 7px;
  color: white;
  width: 75px;
  margin-right: 20px;
}
.add-button:hover {
  background-color: #004d84;
}

.search-border {
  border-left: 8px solid #006BB6;
  border-right: 1px solid #aaaaaa;
}

.player-pos {
  font-size: 12px !important;
  font-weight: bold;
  margin-left: 10px;
}

.player-name {
  font-size: 15px;
}

.search-player-pic {
  border-radius: 50%;
  height: 75px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  margin: auto;
  padding: 7px;
}
