.delete {
  display: block;
  padding-top: 1px;
  border: 1px solid white;
  border-radius: 100px;
}

.game-stat {
  margin-bottom: 3px;
  text-align: center;
}

.loading-gif {
  display: block;
  margin: auto;
  width: 125px;
}

.left-player-info {
  margin-top: -37px;
}

.main-stats {
  border-bottom: 1px solid $primary-grey;
  padding: 5px;
  text-align: center;
}

.player {
  &-name {
    font-size: 15px;
    margin-top: 8px;
    text-align: center;
  }

  &-pic {
    border-radius: 50%;
    display: block;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: auto;
    @media only screen and (max-width: 767px) {
      height: 100px;
      margin-top: 25px;
    }
  }

  &-stat {
    &__container {
      border-bottom: 1px solid $primary-grey;
      border-right: 1px solid $primary-grey;
      border-top: 1px solid $primary-grey;
      font-family: 'Roboto', sans-serif;
      height: 210px;
      margin-top: 20px;
    }
  }
}

.pic-border {
  border-right: 1px solid $primary-grey;
  height: 100%;
}

.remove {
  background-color: $button-red;
  border-radius: 50%;
  color: $primary-white;
  float: right;
  height: 25px;
  margin-right: -27px;
  margin-top: -16px;
  width: 25px;

  &:hover {
    cursor: pointer;
  }
}

.secondary-stats {
  text-align: center;
}

.large-team-logo {
  height: 175px;
  position: absolute;
  right: 25px;
  bottom: 30px;
  opacity: .2;
}

.team-logo {
  height: 32px;
  margin-top: -96px;
  margin-left: -1px;
}

.team-logo-container {
  border-right: 55px solid transparent;
  margin-top: -1px;
  margin-left: -20px !important;
  height: 0;
  width: 0;
}
