// Buttons
$button-blue: #006BB6;
$button-blue-disabled-hover: #528ab2;
$button-blue-hover: #004d84;
$button-red: #c62525;

// Footer
$disclaimer-grey: #d1cccc;

// Primary
$primary-grey: #aaa;
$primary-white: #fff;
$primary-black: #000;

// Nav
$navigation: #333;

// General
$transparent: rgba(0,0,0,.075);
