.u-border-left {
  border-left: 1px solid #aaaaaa;
}

.u-border-bottom {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 3px;
  margin-top: 3px;
}

.u-border-right {
  border-right: 1px solid #aaaaaa;
}

.u-main-stat {
  padding: 5px;
}

.u-align-right {
  padding: 0px !important;
  text-align: right;
}

.u-margin-bottom {
  margin-bottom: 75px;
}
